.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.header-container {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h1 {
  flex-grow: 1;
  text-align: center;
  color: #551154f5; 
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.table-container {
  width: 117%;
  max-height: 532px;
  overflow-y: auto;
  margin-bottom: 20px;
  border: 1px solid #BDC3C7;
  position: relative;
  background-color:  #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-wrapper {
  position: relative;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  position: relative;
}

thead {
  position: sticky;
  top: 0;
  background-color: #0c4b43dd; 
  color: white;
  z-index: 3;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #abaaaa;
  word-wrap: break-word;
}

th:not(:last-child), td:not(:last-child) {
  border-right: 1px solid rgba(205, 202, 202, 0.614); 
}

th {
  background-color: #0c4b43dd; 
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #e6dfdf9a;
}

tbody tr:hover {
  background-color: #edf5f8f8;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pagination input[type="number"] {
  width: 70px;
  margin: 0 10px;
  border-radius: 5px;
}

.pagination button {
  margin: 0 5px;
  margin-left: 10px;
  background-color: #226392f2; 
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}

.pagination button:disabled {
  background-color: #ccc;
}

.filter-input {
  margin-bottom: 10px;
}

.filter-input label {
  display: block;
  margin-bottom: 5px;
}

.filter-input input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

button.teal-button {
  background-color: #226392f2; 
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button.teal-button:disabled {
  background-color: #ccc;
}

.per-page-dropdown {
  margin-right: 20px; /* Adjust as needed for spacing */
}

.per-page-dropdown label {
  font-weight: bold;
  margin-right: 10px;
}

.per-page-dropdown select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  font-size: 14px;
}

.pagination-controls {
  display: flex;
  align-items: center;
}

.error-message {
  color: red;
  margin-left: 10px;
}

.teal-button[title] {
  position: relative;
}

.teal-button[title]::after {
  content: attr(title);
  position: absolute;
  bottom: 70%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  z-index: 10;
}

.teal-button[title]:hover::after {
  opacity: 1;
}

